@page 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@namespace NPCGenerator.Client
<!DOCTYPE html>
<html lang="en">

<body>
<component type="typeof(NPCGenerator.Client.App)" render-mode="WebAssemblyPrerendered" />

@*
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
<script src="_framework/blazor.webassembly.js"></script>
<script>navigator.serviceWorker.register('service-worker.js');</script>
<script src="_content/Blazored.Modal/blazored.modal.js"></script>*@


@*<!--Amazon-->
<script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_tracking_id = "faraz0ea-20";
    amzn_assoc_ad_mode = "manual";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_linkid = "bedcaceda0b6b05549c5e42f3df3a9e5";
    amzn_assoc_asins = "0786966114,0786967021,0786965614,0786965622";
    amzn_assoc_design = "in_content";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
<script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_tracking_id = "faraz0ea-20";
    amzn_assoc_ad_mode = "search";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_default_search_phrase = "d&d 5e";
    amzn_assoc_default_category = "All";
    amzn_assoc_linkid = "1dc608913334ba1c192a28354389e064";
    amzn_assoc_design = "in_content";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>*@



</body>
<footer>
</footer>

</html>