@page "/Support"
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Support</h1>

Unfortunately web hosting isn't free and development takes time.
<br/><br/>
If you find value in this tool, please consider supporting the continued hosting and future development of this app.
You can support this project in the below ways:
<br/><br/>
<style>
    img {
        width: 100px;
        border-radius: 50px;
        float: left;
        margin-right: 10px;
    }
     p.username {
         font-weight: bold;
    }
     
</style>
<body>
<h2>PayPal</h2>
<p> You can directly make a donation through the paypal button below.</p>
<form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="business" value="UKM95EGW25A4S" />
    <input type="hidden" name="no_recurring" value="0" />
    <input type="hidden" name="item_name" value="Thank you for considering to support the Icewind Dale NPC Generator." />
    <input type="hidden" name="currency_code" value="AUD" />
    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
</form>
<h2>BAT (Basic Attention Token) Donation</h2>
<p>
    If you use the Brave browser, you can donate the BAT tokens you earn.
    If you are not familiar with the Brave browser, it is built on the chromium engine with inbuilt ad-blocking.
    In addition you are able to generate BAT tokens for free viewing ads, these tokens can then be donated to
    content providers online who are signed up. <br/>
    <a href="https://brave.com/">https://brave.com/</a> <br/>
    Note I have no affiliation with Brave beyond being a genuine user.
</p>
<h2>Affiliate Purchases</h2>
<p>I receive a small portion of the sales from any of the amazon sales linked from this site (Please consider disabling ad block if you aren't seeing these).</p>
<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=49&l=ur1&category=primevideo&banner=1GRTMQG5A8QP6ZZB4KG2&f=ifr&linkID=69551aac81279cb98959ea0597206896&t=faraz0ea-20&tracking_id=faraz0ea-20" width="300" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
</body>
<footer>
    <div id="amzn-assoc-ad-80e8ce38-0c78-404c-819b-cf0a210d3878"></div>
</footer>

@code {


}
